<!-- <div class="TLoqn">
  <div class="faKsuq">
    <button class="fEvyMP">Reset</button>
    <ng-container *ngFor="let ob of this.obj">
      <div>
        <div>
          <h4
            style="
              color: rgb(0, 0, 0);
              margin-bottom: 5px;
              font-weight: 600;
              font-size: 19px;
            "
          >
            {{ ob.name.toUpperCase() }}
          </h4>
          <div class="dsHhXj" (click)="onClick(ob.name)">Select</div>
          <div *ngIf="getOptionStatus(ob.name)">
            <div class="fugxRD">
              <ng-container *ngFor="let term of ob.terms">
                <div class="hHjkUf">
                  <div class="ghPFCr" style="cursor: pointer">
                    {{ term }}
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div> -->
